/* From Uiverse.io by adilsarfraz02 */ 
.dot-bg {
  background-color: transparent;
  background-image: radial-gradient(#00000076 1px, #e5e5f7 1px);
  background-size: 30px 30px;
  width: 100%;
  min-height: 100vh;
}

.checkerboard-bg {
  width: 100%;
  height: 100%;
background-color: #ffffff; /* The 'bg-white' part */
  background-image: 
    linear-gradient(45deg, transparent 49%, #e5e7eb 49%, #e5e7eb 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #e5e7eb 49%, #e5e7eb 51%, transparent 51%);
  background-size: 40px 40px;
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}